@model OCRFileDTO
@{
    ViewData["Title"] = "Index";
}
<div class="col text-center p-0 detail">
    <div class="col-12 col-md-6 m-auto text-center p-0">
        @*<h2 class="mb-2 text-bold-custom ">UPLOAD DRIVER LICENCE</h2>*@
        <img class="card-img-top" src="/Image/idv/DL_F_Blue.svg" style="max-width:400px" alt="Card image cap">
    </div>
    <h4 class="text-bold-custom mt-2">Ready to capture your Driver Licence?</h4>
    <h4 class="text-bold-custom mb-2">Get started by clicking below.</h4>
    <div class="col-sm-4 col-8 text-center m-auto p-0">
        <a asp-action="OcrRequest" class="btn btn-blue mt-2 mb-2 camera w-100">LET`S START  </a>
        @*<a href="##" class="btn mt-3 p-2 bg-danger-site font-size-1 waves-effect text-light camera text-bold ">CANCEL </a>*@
    </div>

</div>
<div class="spin d-none text-center">
    <div class="spinner-border text-danger"></div>
</div>

@section Scripts{
@*<script>
    startApp();
</script>*@
    }



