@model OCRFileDTO
<div class="col text-center">
    <div class="col-12 col-md-6 m-auto text-center">
        <img class="card-img-top" src="/image/header.jpeg" alt="Card image cap" style="max-width:400px">
        <h2 class="mb-2 text-bold-custom ">UPLOAD DRIVER LICENCE</h2>
        <img class="card-img-top" src="/image/page1.jpeg"  style="max-width:400px" alt="Card image cap">
    </div>
    <h2 class="mt-3 text-bold-custom ">Ready to capture your Driver Licence?</h2>
    <h2 class="mt-2 text-bold-custom ">Get started by clicking below.</h2>
    <div class="col-sm-4 col-8 text-center m-auto">
        <a asp-action="OcrRequest" class="btn mt-3 font-size-1 bg-site p-2 waves-effect camera text-bold text-light w-100">LET`S GO  </a>
        <a href="##" class="btn mt-3 p-2 bg-danger-site font-size-1 waves-effect text-light camera text-bold ">CANCEL </a>
    </div>
    <div class="col-12 col-md-6 m-auto text-center">
        <img class="card-img-top mt-3" src="/image/footer.jpeg" alt="Card image cap">
    </div>
</div>




