
@{
    ViewData["Title"] = "Signature";
}

<div class="row">

    <div class="col-sm-10 col-md-8 col-lg-6 m-auto">
        <div class="">
            
                <p class="text-center">Please sign below</p>
            <div class="row col-12">

                <div action="" class="mt-4 col-sm-9 m-auto">
                    <canvas id="signaturePad"
                            style="width:100%;height:150px;border:2px solid rgb(202, 202, 202);background-color: rgba(224, 224, 224, 0.356);"></canvas>

                    <div class="validation alert alert-danger d-none mt-3">
                    </div>
                    <div class="row mt-3">

                        <div class="col-6">
                            <button id="submit-form-btn" class="btn text-light bg-site btn-red w-100" type="button"
                                    onclick="SubmitSignature()">
                                Confirm
                            </button>
                        </div>
                        <div class="col-6">
                            <a class="btn bg-danger-site text-light btn-black w-100" asp-action="Index" asp-controller="Home">  Home</a>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/signature_pad/signature_pad.min.js"></script>
<script>
    var canvas = document.getElementById("signaturePad");

    var signaturePad = new SignaturePad(canvas);

    function resizeCanvas() {
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        signaturePad.clear(); // otherwise isEmpty() might return incorrect value
    }

    window.addEventListener("resize", resizeCanvas);
    resizeCanvas();

    // $('#emptySign').click(function () {
    //     signaturePad.clear();
    // })



</script>
}

