@{
    ViewData["Title"] = "ThankYou";

}

<div class="row pr-1 pl-1">

    <div class="col-sm-6 m-auto text-center mt-3">
    <div style="width:100%;text-align:center !important; ">
                                        <img src="/Image/Tick.svg" />
                                    </div>
                                       
                                    <h1 class="text-nissan mt-1">That's it!</h1>
                                    <h4 class="text-dark mb-3">You've successfully completed the proccess.</h4>
    <a class="n-btn n-btn-gray w-100 m-auto"  asp-action="Index" asp-controller="Home">Return to home</a>
    </div>

    </div>



