@{
    ViewData["Title"] = "ThankYou";

}

<div class="row">

    <div class="col-sm-4 m-auto text-center">
    <h2 class="text-center">ID CHECKER</h2>
    <h4 class="text-center mt-1 mb-1">THANK YOU</h4>
    <a class="btn btn-danger btn-red m-auto"  asp-action="Index" asp-controller="Home">Home</a>
    </div>

    </div>



