.btn-blue, .btn-blue:hover {
    color: white;
    background-color: #4475b9;
    text-transform: uppercase;
}

a.btn-blue, a.btn-blue:hover {
    color: white;
    background-color: #4475b9;
}

.text-blue {
    color: #4475b9;
}

.ha-datetimepicker .ha-dp-btn, .ha-datetimepicker .ha-dp-clock-ampm-btn:after, .ha-datetimepicker .ha-dp-header, .ha-datetimepicker .ha-dp-month-dropdown, .ha-datetimepicker .ha-dp-year-dropdown {
    background-color: #4475b9;
}
